/** Color Palette
 * Using this tool: https://coolors.co/browser/best/1 
 * Direct link: https://coolors.co/b39c4d-f1faee-a8dadc-768948-1d3557
 * Colors:
 * Light - F1FAEE
 * Off-light - A8DADC
 * Color (green) - 768948
 * Color (off-green) - B39C4D
 * Dark - 1D3557
 */

/* Define variables */
:root {

    /*** Padding / Website Alignment ***/
    --left-padding: 20%;
    /*--left-padding:calc();*/
    --right-padding: 20%;
    /*--right-padding:calc();*/

    /*** Colours / Website Palette ***/
    --text-color: #2B2D42;
    --text-clicked-color: rgb(31, 32, 44);

    --header-background-color: #EF233C;
    --header-foreground-color: #EF233C;
    /*--header-foreground-color: #D90429;*/
    --website-background-color: #EDF2F4;
    --website-foreground-color: #8D99AE;
}

/**
 * Order CSS based on outer-inner, top-bottom. 
 */

/* HTML CSS */

html {
    /* html-reset stuff. might need more, google 'html-reset' */
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Body CSS */

body {
    /* more html-reset */
    padding: 0;
    margin: 0;
    height: 100%;

    /* edit :root to change */
    background-color: var(--website-background-color);
}


/* Load header CSS first - #floating-header */

#floating-header {
    /*Top-right-bottom-left*/
    margin: 0 0 2.5em 0;
    height: 5em;
    padding-left: var(--left-padding);
    padding-right: var(--right-padding);

    background-color: var(--header-foreground-color);

    display: flex;
    flex-direction: column;
}

#floating-header>.page-title {
    font-size: 200%;

    background-color: var(--header-background-color);

    padding: 0;
    margin: 0;
}

#floating-header>.nav {
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;

    padding: 0;
}

.nav>a {
    text-decoration: none;
    color: var(--text-color);
}

.nav>a:hover, .nav>a:visited {
    color: var(--text-clicked-color);
}

.triangle {
    width: 0; 
    height: 0; 
    
    position: fixed;
    left: var(--left-padding);
    top: 4.5em;

    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;

    border-bottom: 0.5em solid #1D3557;    
}

/* Load main content CSS */

.title {
    font-family: Arial;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

div#main-website {
    background-color: var(--website-foreground-color);

/*
    -moz-box-shadow: 1em 1em 1em 1em #000000;
    -webkit-box-shadow: 1em 1em 1em 1em #000000;
*/
    /*Horizontal / Vertical offsets, blur radius, spread*/
    box-shadow: 0em 0em 1.5em 0.25em #000000;

    /*Standardizing distance from sides of the website*/

    margin-left: var(--left-padding);
    margin-right: 30%;
    height: 50%;

}

.footer {
    background-color: #1D3557;
}